<h4 style="line-height:2.6rem"><span style="font-size:1.1em">Welcome back <strong><%= current_user.name %></strong>,</span><br> here are your recent bookmarks&hellip;</h4>

<div class="row">
  <% @bookmarks.each do |bookmark| %>
    <div class="col s12 m4">
      <div class="card-panel grey lighten-2 center-align hoverable">
        <%= link_to bookmark.url, bookmark_path(bookmark), class: "card-content black-text truncate" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <h5>Popular bookmarks:</h5>
  <% @popular_bookmarks.each do |bookmark| %>
    <div class="col s12 m4">
      <div class="card-panel blue lighten-2 center-align hoverable">
        <%= link_to bookmark[0], bookmark[0], :target => "_blank", class: "card-content black-text truncate" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <h5>Popular tags:</h5>
  <% @popular_tags.each do |tag| %>
    <div class="col s12 m4">
      <div class="card-panel blue lighten-3 center-align hoverable">
        <%= tag %>
      </div>
    </div>
  <% end %>
</div>
