<h3>This is the show page</h3>

URL: <%= link_to @bookmark.url, @bookmark.url, :target => "_blank"%><br>
Tags: <% @bookmark.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
      <% end %>
