<h3><%=@bookmark.url%></h3>


Tags: <% @bookmark.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>

<div class="link-container">
  <%= link_to @bookmark.url, :target => "_blank" do %>
    <%= image_tag @image, class: "link-img-size" %>
  <% end %>
</div>
