
<div class="container">


<h3><%= @user.email %> </h3>

<% if @user.avatar? %>
    <%= image_tag @user.avatar.url(:thumb)  %>
<% else %>
    <%= image_tag "/assets/thumbs/missing.png" %>
<% end %>

<br />

<%= button_to "Edit Profile", edit_user_path(current_user), method: 'get', class: "waves-effect waves-light btn"  %>

</div>
