
<h3>Welcome to MetaMarks <%= @user.name %>! </h3>

<% if @user.avatar? %>
    <%= image_tag @user.avatar.url(:thumb), class: "circle responsive-img"  %>
<% else %>
    <%= image_tag "/assets/thumbs/missing.png", class: "circle responsive-img" %>
<% end %>

<br />

<%= button_to "Edit Profile", edit_user_path(current_user), method: 'get', class: "waves-effect waves-light btn"  %>
