<div class="row">
      <div class="col s12 white-text">
      	<h3> Don't Just Collect </h3>
      	<h4> Curate </h4>
      	<p> Become a curator of the web with MetaMarks </p>
      	<div class="buttons-wrapper">
      			<%= link_to "Login", login_path, class: "waves-effect waves-light btn" %>
      			<%= link_to "Sign Up", signup_path, class: "waves-effect waves-light btn" %>
        </div>
      </div>
</div>
